/.ackrc
/.build/
!/.gitignore
/.latest
/MYMETA.json
/MYMETA.yml
/Makefile
/MooseX-Role-WithOverloading-*.tar.gz
/MooseX-Role-WithOverloading-*/
/WithOverloading.bs
/WithOverloading.c
/WithOverloading.o
/blib/
/_eumm/
/pm_to_blib
